/* Main container for the Pokémon list */
.poke-container {
  display: flex;
  justify-content: space-evenly; 
  flex-direction: row;
  flex-wrap: wrap; 
  padding: 20px;
  gap: 20px; 
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Card buttons */
.next-button {
  background-color: #ffcc01;
  color: #333;
  padding: 1vh 1.2vw;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  justify-items: center;
  font-size: 0.7vw;
  border: 2px solid #e3a72b;
  width: 5vw;
}

.next-button:hover {
  background-color: #ffba30;
}